#galery {
  /* background-color: var(--surface-color); */
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;

  & img {
    width: 20.5rem;
  }

  @media (width >= 80em) {
    padding: 1.5rem;
    & img {
      width: 17.875rem;
    }
  }
}
