.container {
  padding-inline: 1rem;
}

.flex {
  display: flex;
}

.desktop-only {
  display: none;
}

@media (width >= 80em) {
  .desktop-only {
    display: initial;
  }

  .container {
    padding-inline: 2rem;
  }
}
