.container {
  padding-inline: 1rem;
}

.flex {
  display: flex;
}

.desktop-only {
  display: none;
}

.ai-center {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}

@media (width >= 80em) {
  .desktop-only {
    display: initial;
  }

  .container {
    padding-inline: 2rem;
  }
}
